extends layout

block content

  article#content.sans-serif.bg-near-white

    header#top.pt6
      .cf.tc
        .db.v-btm.mb2.dn-ns.ml2
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
        .dib.v-btm
          h1.f2.ma0.tr.lh-solid
            | Johanna
            |Paredes
          h2.f7.ma0.mt2.ttu.tracked.lh-solid.tc.tr-ns
            | Design • Branding • Community
        .dib-ns.v-btm.ml2.dn
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
      
      nav
        .tc.mt4
          .dib.mr3
            a(href="#contact").link.near-black.hover-dark-pink
              i.fa.fa-behance
          .dib.mr3
            a(href="#contact").link.near-black.hover-dark-pink
              i.fa.fa-linkedin-square
          .dib
            a(href="#contact").link.near-black.hover-dark-pink
              i.fa.fa-instagram

        .tc.mv4
          a(href="#contact" data-smooth-scroll).link.black.dib.dim.b
            | Contact
        .tc.mt4
          a(href="#start" data-smooth-scroll).link.black.dib.dim.w2.h2.br-100
            i.fa.fa-long-arrow-down.v-btm

    main#start
      .db.mt4
        img(src="./img/fishes.jpg" width="" height="" alt="Johanna Paredes Image").w-100
      section.mt5
        blockquote.f4.f3-ns.lh-copy.ph3.ph4-m
          .measure-narrow.center.tc
            p.mb0
              strong Johanna Paredes
              | ,
              br
              | born and raised in Quito in the eighties.
              
          .measure.center.tc
            p.mb0
              | A life-long enthusiast of design and branding, Johanna is known for her keen eye and her love of creating things “simple, but nice.”
          .measure-narrow.center.tc
            p.mb0
              | More than just work, passion:
              br
              | In fact, Johanna loves branding so much she even created a brand for #[i Rio], her favorite cat…
      
      section.mt6
        .cf.relative
          .fr.w-100.w-40-l.tr
            img(src="./img/rio.jpg" width="" height="" alt="Rio Image").w-100.mw6-m.relative-l.bottom--1-l
          .fr.w-100.w-60-l.absolute-l.bottom-0-l.mt4.mt3-m
            header
              h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph3-m.ph4-l
                | Design
                <span class="ampersand"> &amp; </span>
                | Branding
              blockquote.f4.f3-l.lh-copy.measure.measure-wide-l.ph2.ph3-m.ph4-l
                p.mb0
                  | More than ten years of professional experience in graphics design and print production…
                  | in-house designer, as well as freelance work, community manager
                p
                  | Her style relies heavily on the use of both solid design principles and elements inspired by nature.
                  | She's a natural people person with a fierce sense of loyalty,
                  | community building
        
        .cf.mt4-l
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Vision
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Community
                  //- .db.f5.f4-l.tr
                  //-   | Subtitle
              .pv4.ph2.pl1-l.ph3-ns
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | El Colibrí
                    br
                    | Independent Art Fair
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              blockquote.f4.f5-l.lh-copy.measure-narrow.ml-auto.ph2.ph3-ns.tr
                p.mt0: strong
                  | Are you looking for a creative partner to join your team?
                p As an integral member of your team I&nbsp;will provide vision and define message, as well as grow a community to support our project.
                p Ecological reserves and initiatives are eligible for a discount.

          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Branding
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Campaigns
              .pv4.ph2.pl1-l.ph3-ns
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | Pau Pau
                    br
                    | Bar &amp; Restaurant
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              blockquote.f4.f5-l.lh-copy.measure-narrow.ml-auto.ph2.ph3-ns.tr
                p.mt0: strong
                  | Are you looking to establish a long-term relationship with a graphics professional?
                p As your partner, I will create the branding, as well as high-quality graphics products for your organization and its services.
                p I will nurture your existing online community and execute campaigns across print and online media.

          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pr4-l.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Media
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Print&nbsp;Design
              .pv4.ph2.pl1-l.pr3-m.pr4-l
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | Pacha Chocolates
                    br
                    | Artisanal Chocolate
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              blockquote.f4.f5-l.lh-copy.measure-narrow.ml-auto.ph2.ph3-ns.pr4-l.tr
                p.mt0: strong
                  | Is your business in need of a flyer, menu, map, packaging, or similar?
                p Whether for print advertisement or to keep your online followers engaged, I will help you find out exactly what you need and produce the right graphics for your budget.
          
        .db.mt6
          img(src="./img/city.jpg" width="" height="" alt="Johanna Paredes Image").w-100
        section.mt4.mt5-ns.pb5-l
          h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph3-m.ph4-l.mb0
            | Events
            <span class="ampersand"> &amp; </span>
            | Management
          .mv3.mv4-l.ph2.ph3-m.ph4-l.b-l
            a(href="#go").link.dib.dim.tc
              .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f4-l.black
                | Connect on
              .dib.lh-solid.v-mid
                .fa-stack.fa-lg.dark-pink
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-linkedin.fa-stack-1x.fa-inverse
              .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f4-l.dark-pink
                | LinkedIn
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph3-m.ph4-l
            p 
              | Johanna has extensive professional experience in management, marketing, as well as the tourism and music industries.
            p 
              | With an excellent network in #[strong Quito], #[strong Guayaquil], as well as the #[strong Galapagos Islands],
              | Johanna can facilitate a wide array of campaigns and events across Ecuador.
        
        .db.mt6
          img(src="./img/shore.jpg" width="" height="" alt="Johanna Paredes Image").w-100
        section.mt4.mt5-ns.pb5-l
          h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph3-m.ph4-l.mb0
            | Travel
            <span class="ampersand"> &amp; </span>
            | Photography
          .mv3.mv4-l.ph2.ph3-m.ph4-l
            a(href="#go").link.dib.dim.tc
              .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f4-l.black
                | Follow on
              .dib.lh-solid.v-mid
                .fa-stack.fa-lg.dark-pink
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
              .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f4-l.dark-pink
                | Instagram
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph3-m.ph4-l
            p 
              | Johanna loves to travel, as well as taking photos of all the amazing vistas she encounters.
            p 
              | She mostly spends her time between Guayaquil, Ayampe, and Berlin, and is available for on-site assignments in Europe and the Americas.

      
      section.mt6
        header.pb3
          h2.f3.f2-l.lh-title.ttu.tracked.ph2.ph3-m.ph4-l
            | Founder
            <span class="ampersand"> &amp; </span>
            | Organizer
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph3-m.ph4-l
              p 
                | In addition to her design career, Johanna has founded a family microbusiness with her mother.
                | 
                | Under the brand #[strong Mimi tejidos] the two produce and sell handcrafted Ecuadorian knitwear.
              p
                | Furthermore, Johanna is the founder and organizaer of the independent art fair #[strong El Colibrí — Muestra creativa], held quarter-yearly in Ayampe.
        section.mt5.tr.pb3
          .ph2.ph3-m.ph4-l.pb2.bb.bw2.b--green
            h3.f4.f3-l.lh-title.ma0
              | El Colibrí — Muestra creativa
              .db.f5.f4-l
                | Independent art fair
          .pv3.pb5-l.ph2.ph3-m.ph4-l
            .tr.green
              a(href="#go").link.dib.dim
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-instagram.fa-stack-1x.fa-inverse
              a(href="#go").link.dib.dim.ml3.ml1-ns
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
          .mw7.center.ph3.ph4-m.ph5-l.pb0
            .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
              .orbit-wrapper
                .orbit-controls
                  button.orbit-previous
                    span.show-for-sr
                      | Previous Slide
                    | &#9664;&#xFE0E;
                  button.orbit-next
                    span.show-for-sr
                      | Next Slide
                    | &#9654;&#xFE0E;
                
                ul.orbit-container.br1
                  li.is-active.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-1.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Space, the final frontier.
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-2.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Lets Rocket!
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-3.jpg" alt="El Colibrí")
                
                nav.orbit-bullets
                  button.is-active(data-slide="0" )
                    span.show-for-sr
                      | First slide details.
                    span.show-for-sr
                      | Current Slide
                  button(data-slide="1")
                    span.show-for-sr
                      | Second slide details.
                  button(data-slide="2")
                    span.show-for-sr
                      | Third slide details.

        section.mt5.tr.pb0.pb3-l
          .ph2.ph3-m.ph4-l.pb2.bb.bw2.b--green
            h3.f4.f3-l.lh-title.ma0
              | Mimi tejidos
              .db.f5.f4-l
                | Handcrafted Ecuadorian knitwear
          .pv3.pb5-l.ph2.ph3-m.ph4-l
            .tr.green
              a(href="#go").link.dib.dim
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-instagram.fa-stack-1x.fa-inverse
              a(href="#go").link.dib.dim.ml3.ml1-ns
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
          .mw7.center.ph3.ph4-m.ph5-l.pb0
            .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
              .orbit-wrapper
                .orbit-controls
                  button.orbit-previous
                    span.show-for-sr
                      | Previous Slide
                    | &#9664;&#xFE0E;
                  button.orbit-next
                    span.show-for-sr
                      | Next Slide
                    | &#9654;&#xFE0E;
                
                ul.orbit-container.br1
                  li.is-active.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-1.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Space, the final frontier.
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-2.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Lets Rocket!
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-3.jpg" alt="El Colibrí")
                
                nav.orbit-bullets
                  button.is-active(data-slide="0" )
                    span.show-for-sr
                      | First slide details.
                    span.show-for-sr
                      | Current Slide
                  button(data-slide="1")
                    span.show-for-sr
                      | Second slide details.
                  button(data-slide="2")
                    span.show-for-sr
                      | Third slide details.

      
      section#contact.tc.mt6.pb6.pb7-ns.pt5-l.bg-mid-gray
        header.w-100.pt6.pb5.pb4-m
          h2.f3.f2-l.lh-title.ttu.tracked.ma0.white
            | Contact
          .dib.mw6.center.mv2.mv3-ns.mh3.ph3.ph4-ns.pv2.pv3-l.ba.bw2.b--rainbow
            h3.f4.f3-l.lh-title.ma0.white
              | Johanna Paredes
          p.f5.f4-l.ma0.white
            | Get in touch!
        .w-100.mw-100-l.measure-m.center
          .cf
            .fl.w-100.w-50-ns
              ul.list.tl.br-ns.bw2.b--rainbow.measure-narrow-l.ml-auto
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | E-mail
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="mailto:hola@johannaparedes.com").link.white.dim
                      | hola@johannaparedes.com
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | Phone
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="tel:+593967233981").link.white.dim
                      | +593 96-723-39-81
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | Skype
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="#skype").link.white.dim
                      | johapalloza82
            .fl.w-100.w-50-ns.measure-narrow-l
              ul.list.tc.tl-ns
                li.db.bb.bw1.b--rainbow
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="#go-contact").link.dib.dim.tc.mr3.mr0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Portfolio on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-behance.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | Behance
                li.db.bb.bw1.b--rainbow
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="#go-contact").link.dib.dim.tc.mr3.mr0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Connect on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | LinkedIn
                li.db
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="#go-contact").link.dib.dim.tc.mr2.mr0-ns.pl3.pl0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Follow on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | Instagram
      .db
        img(src="./img/beach.jpg" width="" height="" alt="Johanna Paredes Image").w100
    footer.tc.pa5
      p
            a(href="#top" data-smooth-scroll).link.black
              i.fa.fa-long-arrow-up
      p
        | © 2017 Johanna Paredes