extends layout

block content

  #content.sans-serif

    header.pt5
      #logo.w
        .cf.tc
          .dib.v-btm
            h1.f2.ma0.tr
              | Johanna
              |Paredes
            h2.f7.ma0.mt2.tr.ttu.tracked
              | Design • Branding • Community
          .dib.v-btm.pl2
            img(src="./img/johanna-paredes_logo.svg" width="100" height="100" alt="Johanna Paredes Logo")

      nav#contact

    main.pa5.pb0
      section#introduction
        blockquote
          p Johanna…
      section#design-branding-community
        h3 Design &amp; Branding
        blockquote
          p A life-long enthusiast of design and branding, Johanna loves to work closely with an organization to help them develop their unique identity as well as grow their community and following.
        h4 Vision &amp; Community
        blockquote
          p I will work closely as your partner, develop identity and define message, grow and sustain community.
          p Vision, social media, community management.
          p I am always open to working with ecological initiatives!

        h4 Branding &amp; Campaigns
        blockquote
          p As your in-house designer, I will… , as well as take care of community management… Produce creative graphics and content efficiently.
            p Branding, logos, packaging, corporate identity.
        h4 Media &amp; Print Design
        blockquote
          p You want to invest in their public relations, push for growth?
          p Strong professional skills in print design and print production, as well as package design.
        h3 Events &amp; Management
        blockquote
          p Johanna has extensive experience in management, marketing, and the tourism market.
          p Music, arts, fairs.
          p Network in Quito, Guayaquil, and Manabí, as well as the Galapagos Islands
        h3 Travel &amp; Photography
        blockquote
          p Johanna loves to travel, as well as taking photos of all the amazing vistas she encounters.
          p She mostly spends her time between Guayaquil, Ayampe, and Berlin.
      section#founder-organizer
        h2 Founder &amp; Organizer
        h3 Mimi tejidos — Handmade Ecuadorian Fashion

        h3 El Colibrí — Muestra creativa
      section#contact
        h2 Get in touch
        p
          a.button(href="#contact")
            | Contact Johanna
    footer.tc.pa5
      | © 2017 Johanna Paredes