extends layout

block content

  #content.sans-serif.bg-near-white

    header#top.pt6
      .cf.tc
        .db.v-btm.mb2.dn-ns.ml3
          img(src="./img/johanna-paredes_johannaparedes_design-branding-community_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
        .dib.v-btm
          h1.f2.ma0.tr.lh-solid
            | Johanna
            |Paredes
          h2.f7.ma0.mt2.ttu.tracked.lh-solid.tc.tr-ns
            | Design • Branding • Community
        .dib-ns.v-btm.ml2.dn
          img(src="./img/johanna-paredes_johannaparedes_design-branding-community_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
      
      nav
        .tc.mt4
          .dib.mr3
            a(href="https://www.behance.net/johannaparedes/").link.near-black.dim
              i.fa.fa-behance
          .dib.mr3
            a(href="https://www.linkedin.com/in/johannaparedes/").link.near-black.dim
              i.fa.fa-linkedin-square
          .dib
            a(href="https://www.instagram.com/shubiaventuras/").link.near-black.dim
              i.fa.fa-instagram

        .tc.mv4
          a(href="#contact" data-smooth-scroll).link.black.dib.dim.b
            | Contact
        .tc.mt4
          a(href="#start" data-smooth-scroll).link.black.dib.dim.w2.h2.br-100
            i.fa.fa-long-arrow-down.v-btm.ml1

    main(role="main")#start
      .db.mt4
        img(src="./img/johannaparedes_design-branding-community_palomino-fishes.jpg" width="1920" height="1280" alt="A mural of kissing fishes from Palomino").w-100
      section.mt5
        .f4.f3-ns.lh-copy.ph3.ph4-m
          .measure-narrow.center.tc
            .f3.f2-l.mid-gray.tc
              | ❁
            .mh0.mt3.mb4
              p.mb0.b
                | “Inspired by little details of nature
                br
                | I find beauty in simplicity.”
              .mb0.mt3.db.f5.f4-ns.mid-gray.i
                | — Johanna Paredes

          .measure.center.tc
            p.mb0
              | Johanna is a life-long enthusiast of design and branding and is esteemed for her keen eye and love for creating things “simple, but nice.”
          .measure-narrow.center.tc
            p.mb0
              | Her style relies on the use of solid design principles and often includes natural elements.

      section.mt6
        .cf.relative
          .fr.w-100.w-40-l.tr
            img(src="./img/johannaparedes_design-branding-community_rio_life-of-a-bach-cat.jpg" width="1000" height="1000" alt="Design example: Rio — The life of a beach cat").w-100.mw6-m.relative-l.bottom--1-l
          .fr.w-100.w-60-l.absolute-l.bottom-0-l.mt4.mt3-m
            header
              h3.f3.f2-l.lh-title.ttu.tracked.pl2.pr3.ph3-m.ph4-l
                | Design
                <span class="ampersand"> &amp; </span>
                | Branding
              .f4.f3-l.lh-copy.measure.measure-wide-l.pl2.pr3.ph3-m.ph4-l
                p
                  | Johanna has worked for ten years in graphic design and print production both as a freelancer and an in-house designer.
                  br.dn-ns
                  | 
                  //- | Often-featured are birds, in particular the #[span.i Esmeraldas woodstar] colibri.
                p.mb0
                  | She's a natural people person and an experienced manager who excels at building and maintaining an online community using visual content.
        .cf.mt4-l
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Vision
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Community
                  //- .db.f5.f4-l.tr
                  //-   | Subtitle
              .pv4.ph2.pl1-l.ph3-ns
                a(href="https://www.behance.net/gallery/51846791/Vision-Community").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | El Colibrí
                    br
                    | Muestra creativa
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              .f4.f5-l.lh-copy.pr2.pl3.ph3-ns.tr
                .measure-narrow.ml-auto
                  p.mt0: strong
                    | Are you looking for a creative lead to join your organization?
                .measure-narrow.ml-auto
                  p As an integral member of your team I&nbsp;will share my creative vision and shape our organization's visual message. My management efforts will be directed towards building our community.
                  p I am always eager to work with ecological reserves and initiatives!
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Branding
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Campaigns
              .pv4.ph2.pl1-l.ph3-ns
                a(href="https://www.behance.net/gallery/51602429/Branding-Campaigns").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | Pau Pau
                    br
                    | Grill &amp; Restaurant
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              .f4.f5-l.lh-copy.pr2.pl3.ph3-ns.tr
                .measure-narrow.ml-auto
                  p.mt0: strong
                    | Are you looking to establish a long-term relationship with a graphics professional?
                .measure-narrow.ml-auto
                  p As your partner I will create the brand identity for your organization and its services. As we go along, I will produce any high-quality graphics your business may need.
                  p I will drive campaigns across print and online media channels and nurture your existing online community.
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.ph3-ns.pr4-l.pb2.bb.bw2.b--dark-pink
                h4.f4.f3-l.lh-title.ttu.tracked.ma0
                  | Print
                  <span class="ampersand"> &amp; </span>
                  br.dn.db-l
                  | Advertisement
              .pv4.ph2.pl1-l.pr3-m.pr4-l
                a(href="https://www.behance.net/gallery/54919585/Print-Advertisement").link.dim.dib.tc
                  .dib.b.f6.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.black
                    | Pacha Chocolates
                    br
                    | Chocolate Artisans
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.pl1.ma0.lh-copy.v-mid.tr.dark-pink
                    | View project
                    br
                    | on Behance
              .f4.f5-l.lh-copy.pr2.pl3.ph3-ns.pr4-l.tr
                .measure-narrow.ml-auto
                  p.mt0: strong
                    | Is your business in need of a flyer, menu, map, packaging, or similar?
                .measure-narrow.ml-auto
                  p Whether for print advertisement or to keep your online followers engaged, I will help find out exactly what you need and produce the best graphics for your budget.
        .db.mt5.tc
          .pt4-l
            a(href="#contact" data-smooth-scroll).link.dib.mid-gray.dim.b.f4.pv2.ph3.ba.bw1.b--rainbow.br2
              | Get in touch
        .db.mt5
          img(src="./img/johannaparedes_design-branding-community_guayaquil-city.jpg" width="1920" height="1280" alt="Skyline of Guayaquil").w-100
        section.mt4.mt5-ns.pb5-l
          h3.f3.f2-l.lh-title.ttu.tracked.pl2.pr3.ph3-m.ph4-l.mb0
            | Events
            <span class="ampersand"> &amp; </span>
            | Management
          .mv3.mv4-l.ph2.ph3-m.ph4-l.b-l
            a(href="https://www.linkedin.com/in/johannaparedes/").link.dib.dim.tc
              .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f4-l.black
                | Connect on
              .dib.lh-solid.v-mid
                .fa-stack.fa-lg.dark-pink
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-linkedin.fa-stack-1x.fa-inverse
              .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f4-l.dark-pink
                | LinkedIn
          .f4.f3-l.lh-copy.measure.pl2.pr3.ph3-m.ph4-l
            p 
              | Johanna has extensive professional experience in management and marketing, with a strong focus on tourism and creative industries.
            p 
              | She can facilitate a wide array of campaigns and events across Ecuador, drawing on her excellent network in #[strong Quito], #[strong Guayaquil], as well as the #[strong Galapagos Islands].
            .db.mt4.pt3-l.tc.tl-ns.pt3.pt0-m
              a(href="#contact" data-smooth-scroll).link.dib.mid-gray.dim.b.f5.f4-l.pv2.ph3.ba.bw1.b--rainbow.br2
                | Get in touch

        .db.mt6
          img(src="./img/johannaparedes_design-branding-community_tayrona-shore.jpg" width="1920" height="1280" alt="Shoreline of the Tayrona National Park").w-100
        section.mt4.mt5-ns.pb5-l
          h3.f3.f2-l.lh-title.ttu.tracked.pl2.pr3.ph3-m.ph4-l.mb0
            | Travel
            <span class="ampersand"> &amp; </span>
            | Photography
          .mv3.mv4-l.ph2.ph3-m.ph4-l
            a(href="https://www.instagram.com/shubiaventuras/").link.dib.dim.tc
              .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f4-l.black
                | Follow on
              .dib.lh-solid.v-mid
                .fa-stack.fa-lg.dark-pink
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
              .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f4-l.dark-pink
                | Instagram
          .f4.f3-l.lh-copy.measure.pl2.pr3.ph3-m.ph4-l
            p 
              | Johanna loves to travel, as well as taking photos of all the amazing vistas she encounters.
            p 
              | She mostly spends her time between Guayaquil, Ayampe, and Berlin, and is available for on-site assignments in Europe and the Americas.
            .db.mt4.pt3-l.tc.tl-ns.pt3.pt0-m
              a(href="#contact" data-smooth-scroll).link.dib.mid-gray.dim.b.f5.f4-l.pv2.ph3.ba.bw1.b--rainbow.br2
                | Get in touch
      
      section.mt6
        header.pb3
          h2.f3.f2-l.lh-title.ttu.tracked.pl2.pr3.ph3-m.ph4-l
            | Founder
            <span class="ampersand"> &amp; </span>
            | Organizer
          .f4.f3-l.lh-copy.measure.pl2.pr3.ph3-m.ph4-l
              p 
                | In addition to her design career, Johanna has founded a family microbusiness with her mother.
                | 
                | Under the brand #[strong Mimi tejidos] the two produce and market handcrafted Ecuadorian knitwear.
              p
                | Furthermore, Johanna is the founder and organizer of #[strong El Colibrí — Muestra creativa], an independent creative fair held quarter-yearly in Ayampe, Ecuador.
        section.mt5.tr.pb3
          .ph2.ph3-m.ph4-l.pb2.bb.bw2.b--green
            h3.f4.f3-l.lh-title.ma0
              | El Colibrí — Muestra creativa
              .db.f5.f4-l
                | Independent creative fair
          .pv3.pb5-l.ph2.ph3-m.ph4-l
            .tr.green
              a(href="https://www.instagram.com/elcolibrishowroom/" target="_blank").link.dib.dim
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-instagram.fa-stack-1x.fa-inverse
              a(href="https://www.facebook.com/elcolibrimuestracreativa/" target="_blank").link.dib.dim.ml3.ml1-ns
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
          .mw7.center.ph3.ph4-m.ph5-l.pb0
            .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
              .orbit-wrapper
                .orbit-controls
                  button.orbit-previous
                    span.show-for-sr
                      | Previous Slide
                    | &#9664;&#xFE0E;
                  button.orbit-next
                    span.show-for-sr
                      | Next Slide
                    | &#9654;&#xFE0E;
                
                ul.orbit-container.br1
                  li.is-active.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-1.jpg" alt="El Colibrí — Muestra creativa, Estd. 2013")
                      //- figcaption.orbit-caption
                        | Space, the final frontier.
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-2.jpg" alt="El Colibrí — Creative fair for independent designers, artists, eco products and more.")
                      //- figcaption.orbit-caption
                        | Lets Rocket!
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-3.jpg" alt="El Colibrí — Follow us and become part of our community!")
                
                nav.orbit-bullets
                  button.is-active(data-slide="0" )
                    span.show-for-sr
                      | First slide details.
                    span.show-for-sr
                      | Current Slide
                  button(data-slide="1")
                    span.show-for-sr
                      | Second slide details.
                  button(data-slide="2")
                    span.show-for-sr
                      | Third slide details.

        section.mt5.tr.pb0.pb3-l
          .ph2.ph3-m.ph4-l.pb2.bb.bw2.b--green
            h3.f4.f3-l.lh-title.ma0
              | Mimi tejidos
              .db.f5.f4-l
                | Handcrafted Ecuadorian knitwear
          .pv3.pb5-l.ph2.ph3-m.ph4-l
            .tr.green
              a(href="https://www.instagram.com/mimi.tejidos/" target="_blank").link.dib.dim
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-instagram.fa-stack-1x.fa-inverse
              a(href="https://www.facebook.com/Mimi.AccesoriosTejidos/" target="_blank").link.dib.dim.ml3.ml1-ns
                .fa-stack.fa-lg.green
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-facebook.fa-stack-1x.fa-inverse
          .mw7.center.ph3.ph4-m.ph5-l.pb0
            .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
              .orbit-wrapper
                .orbit-controls
                  button.orbit-previous
                    span.show-for-sr
                      | Previous Slide
                    | &#9664;&#xFE0E;
                  button.orbit-next
                    span.show-for-sr
                      | Next Slide
                    | &#9654;&#xFE0E;
                
                ul.orbit-container.br1
                  li.is-active.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-1_model_maria-jose-kozminski.jpg" alt="Mimi tejidos — Model Maria José Kozminski")
                      //- figcaption.orbit-caption
                        | Space, the final frontier.
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-2_model_anita-weir.jpg" alt="Mimi tejidos — Model Anita Weir")
                      //- figcaption.orbit-caption
                        | Lets Rocket!
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-3.jpg" alt="Mimi tejidos — Connect with us and find out more!")
                
                nav.orbit-bullets
                  button.is-active(data-slide="0" )
                    span.show-for-sr
                      | First slide details.
                    span.show-for-sr
                      | Current Slide
                  button(data-slide="1")
                    span.show-for-sr
                      | Second slide details.
                  button(data-slide="2")
                    span.show-for-sr
                      | Third slide details.

      
      section#contact.tc.mt6.pb6.pb7-ns.pt5-l.bg-mid-gray
        header.w-100.pt6.pb5.pb4-m
          h2.f3.f2-l.lh-title.ttu.tracked.ma0.white
            | Contact
          .dib.mw6.center.mv2.mv3-ns.mh3.ph3.ph4-ns.pv2.pv3-l.ba.bw2.b--rainbow
            h3.f4.f3-l.lh-title.ma0.white
              | Johanna Paredes
          p.f5.f4-l.ma0.white
            | Get in touch!
        .w-100.mw-100-l.measure-m.center
          .cf
            .fl.w-100.w-50-ns
              ul.list.tl.br-ns.bw2.b--rainbow.measure-narrow-l.ml-auto
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | E-mail
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="mailto:hola@johannaparedes.com").link.white.dim
                      | hola@johannaparedes.com
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | Phone
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="tel:+593967233981").link.white.dim
                      | +593 96-723-39-81
                li
                  .ph3.pl0-l.pv2.pt3-ns.bb.bw1.b--rainbow
                    h3.f4.f5-l.lh-title.ttu.tracked.ma0.white.tl
                      | Skype
                  h4.f4.f5-m.lh-copy.mv0.tr.ph3.pt2.pb5.pb4-ns
                    a(href="skype:coliotita").link.white.dim
                      | @coliotita
            .fl.w-100.w-50-ns.measure-narrow-l
              ul.list.tc.tl-ns
                li.db.bb.bw1.b--rainbow
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="https://www.behance.net/johannaparedes/").link.dib.dim.tc.mr3.mr0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Portfolio on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-behance.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | Behance
                li.db.bb.bw1.b--rainbow
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="https://www.linkedin.com/in/johannaparedes/").link.dib.dim.tc.mr3.mr0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Connect on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | LinkedIn
                li.db
                  .pv4.ph0.pl4-m.pl5-l
                    a(href="https://www.instagram.com/shubiaventuras/").link.dib.dim.tc.mr2.mr0-ns.pl3.pl0-ns
                      .dib.b.pa0.pr1.ma0.lh-copy.v-mid.tr.f5.f6-m.white
                        | Follow on
                      .dib.lh-solid.v-mid
                        .fa-stack.fa-lg.dark-pink
                            i.fa.fa-circle.fa-stack-2x
                            i.fa.fa-instagram.fa-stack-1x.fa-inverse
                      .dib.b.pa0.pl1.ma0.lh-copy.v-mid.tl.f5.f6-m.white
                        | Instagram
      .db
        img(src="./img/johannaparedes_design-branding-community_ayampe-beach.jpg" width="1920" height="1280" alt="Johanna Paredes Image").w100
    footer.tc.pa5
      p
            a(href="#top" data-smooth-scroll).link.black
              i.fa.fa-long-arrow-up
      p
        | © 2017 Johanna Paredes