extends layout

block content

  article#content.sans-serif.bg-near-white

    header#top.pt6
      .cf.tc
        .db.v-btm.mb2.ml3.dn-ns
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
        .dib.v-btm
          h1.f2.ma0.tr.lh-solid
            | Johanna
            |Paredes
          h2.f7.ma0.mt2.ttu.tracked.lh-solid.tc.tr-ns
            | Design • Branding • Community
        .dib-ns.v-btm.ml2.dn
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
      
      nav
        .tc.mt4
          .dib.mr3
            a(href="#contact").link.near-black.hover-dark-pink
              i.fa.fa-behance
          .dib.mr3
            a(href="#contact").link.near-black.hover-green
              i.fa.fa-linkedin-square
          .dib
            a(href="#contact").link.near-black.hover-green
              i.fa.fa-instagram

        .tc.mt2
          p
            a(href="#contact" data-smooth-scroll).link.black.hover-gray
              | Contact
        .tc.mt4
          p
            a(href="#start" data-smooth-scroll).link.black
              i.fa.fa-long-arrow-down

    main#start
      .db.mt4
        img(src="./img/fishes.jpg" width="" height="" alt="Johanna Paredes Image").w-100
      section.mt3
        blockquote.f3.measure-narrow.lh-copy.center.tc.ph2.pl4-l
          p
            | Johanna Paredes,
            br
            |born and raised in Quito in the eighties…
      
      
      section.mt6
        .cf.relative
          .fr.w-100.w-40-l.tr
            img(src="./img/rio--solo.jpg" width="" height="" alt="Johanna Paredes Image").w-100.mw6.pl2.pl0-ns.relative-l.bottom--1-l
          .fr.w-100.w-60-l.absolute-l.bottom-0-l
            h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
              | Design
              <span class="ampersand"> &amp; </span>
              | Branding
            blockquote.f4.f3-l.lh-copy.measure.measure-wide-l.ph2.ph4-l
              p
                | A life-long enthusiast of design and branding, Johanna loves to work closely with an organization to help them develop their unique identity as well as grow their community and following.
        .cf
          .fl.w-100.w-third-l
            section.mt5.tr.tl-l
              h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pb1.pr2.pr0-l.pl4-l
                | Vision
                <span class="ampersand"> &amp; </span>
                | Community
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pr2.pr1-l.pl4-l
                p I will work closely as your partner, develop identity and define message, grow and sustain community.
                p Vision, social media, community management.
                p I am always open to working with ecological initiatives!
                .mb3.mb0-l
                  p.db.b.f6
                    | El Colibrí
                    br
                    | Independent Art Fair
                  a(href="#go").link.dib.dim
                    .fa-stack.fa-lg.dark-pink
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-behance.fa-stack-1x.fa-inverse
                    .dib.b.f6.dark-pink.pl0
                              | View Project
          
          .fl.w-100.w-third-l
            section.mt5.tr.tl-l
              h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pb1.pr2.pr0-l.pl3-l
                | Branding
                <span class="ampersand"> &amp; </span>
                | Campaigns
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pr2.pr0-l.pl3-l
                p As your in-house designer, I will… , as well as take care of community management… Produce creative graphics and content efficiently.
                p Branding, logos, packaging, corporate identity.
                .mb3.mb0-l
                  p.db.b.f6
                    | Pau Pau
                    br
                    | Bar &amp; Restaurant
                  a(href="#go").link.dib.dim
                    .fa-stack.fa-lg.dark-pink
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-behance.fa-stack-1x.fa-inverse
                    .dib.b.f6.dark-pink.pl0
                              | View Project
          
          .fl.w-100.w-third-l
            section.mt5.tr.tl-l
              h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pb1.pr2.pr0-l.pl4-l
                | Media
                <span class="ampersand"> &amp; </span>Print 
                | Design
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pr2.pr0-l.pl4-l
                p You want to invest in their public relations, push for growth?
                p Strong professional skills in print design and print production, as well as package design.
                .mb3.mb0-l
                  p.db.b.f6
                    | Pacha Chocolates
                    br
                    | Artisanal Chocolate
                  a(href="#go").link.dib.dim
                    .fa-stack.fa-lg.dark-pink
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-behance.fa-stack-1x.fa-inverse
                    .dib.b.f6.dark-pink.pl0
                              | View Project
          
        .db.mt6
          img(src="./img/city.jpg" width="" height="" alt="Johanna Paredes Image").w-100
        section.mt4.mt5-ns
          h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
            | Events
            <span class="ampersand"> &amp; </span>
            | Management
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph4-l
            p Johanna has extensive experience in management, marketing, as well as the tourism and music industry.
            p Network in Quito, Guayaquil, and Manabí, as well as the Galapagos Islands
        
        .db.mt6
          img(src="./img/shore.jpg" width="" height="" alt="Johanna Paredes Image").w-100
        section.mt4.mt5-ns
          h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
            | Travel
            <span class="ampersand"> &amp; </span>
            | Photography
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph4-l
            p Johanna loves to travel, as well as taking photos of all the amazing vistas she encounters.
            p She mostly spends her time between Guayaquil, Ayampe, and Berlin.
      
      section.mt6
        h2.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
          | Founder
          <span class="ampersand"> &amp; </span>
          | Organizer
        
        section.mt5.tr
          .bb.bw1.b--green.ph2.ph4-l.pb1
            h3.f4.f3-l.lh-title.ma0
              | El Colibrí
              .db.f5.f4-l
                | Muestra creativa
          .pt5.ph4-m.ph5-l.pb0.mw7.center
            .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
              .orbit-wrapper
                .orbit-controls
                  button.orbit-previous
                    span.show-for-sr
                      | Previous Slide
                      | &#9664;&#xFE0E;
                  button.orbit-next
                    span.show-for-sr
                      | Next Slide
                      | &#9654;&#xFE0E;
                
                ul.orbit-container
                  li.is-active.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-1.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Space, the final frontier.
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-2.jpg" alt="El Colibrí")
                      //- figcaption.orbit-caption
                        | Lets Rocket!
                  li.orbit-slide
                    figure.orbit-figure
                      img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-3.jpg" alt="El Colibrí")
                
                nav.orbit-bullets
                  button.is-active(data-slide="0" )
                    span.show-for-sr
                      | First slide details.
                    span.show-for-sr
                      | Current Slide
                  button(data-slide="1")
                    span.show-for-sr
                      | Second slide details.
                  button(data-slide="2")
                    span.show-for-sr
                      | Third slide details.

          section.mt5.tr
            .bb.bw1.b--green.ph2.ph4-l.pb1
              h3.f4.f3-l.lh-title.ma0
                | Mimi tejidos
                .db.f5.f4-l
                  | Handmade Ecuadorian Fashion
            .pt5.ph4-m.ph5-l.pb0.mw7.center
              .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
                .orbit-wrapper
                  .orbit-controls
                    button.orbit-previous
                      span.show-for-sr
                        | Previous Slide
                        | &#9664;&#xFE0E;
                    button.orbit-next
                      span.show-for-sr
                        | Next Slide
                        | &#9654;&#xFE0E;
                  
                  ul.orbit-container
                    li.is-active.orbit-slide
                      figure.orbit-figure
                        img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-2.jpg" alt="El Colibrí")
                        //- figcaption.orbit-caption
                          | Space, the final frontier.
                    li.orbit-slide
                      figure.orbit-figure
                        img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-1.jpg" alt="El Colibrí")
                        //- figcaption.orbit-caption
                          | Lets Rocket!
                    li.orbit-slide
                      figure.orbit-figure
                        img.orbit-image(src="./img/johannaparedes_design-branding-community_mimi-tejidos-3.jpg" alt="El Colibrí")
                  
                  nav.orbit-bullets
                    button.is-active(data-slide="0" )
                      span.show-for-sr
                        | First slide details.
                      span.show-for-sr
                        | Current Slide
                    button(data-slide="1")
                      span.show-for-sr
                        | Second slide details.
                    button(data-slide="2")
                      span.show-for-sr
                        | Third slide details.

      
      section.mt6.tc#contact
        h2.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
          | Contact
        p Get in touch!
        ul.list.tc.pa0
          li: p Email
          li: p Phone / WhatsApp / Telegram
          li: p Skype
        nav.social-nav
          .dib.mr1
            a(href="#contact")
              | Behance
          .dib.mr1
            a(href="#contact")
              | LinkedIn
          .dib.mr1
            a(href="#contact")
              | Instagram
    .db.mt6
      img(src="./img/beach--large.jpg" width="" height="" alt="Johanna Paredes Image").w100
    footer.tc.pa5
      p
            a(href="#top" data-smooth-scroll).link.black
              i.fa.fa-long-arrow-up
      p
        | © 2017 Johanna Paredes