extends layout

block content

  article#content.sans-serif.bg-near-white

    header.pt6
      .cf.tc
        .db.v-btm.mb2.ml3.dn-ns
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
        .dib.v-btm
          h1.f2.ma0.tr.lh-solid
            | Johanna
            |Paredes
          h2.f7.ma0.mt2.ttu.tracked.lh-solid.tc.tr-ns
            | Design • Branding • Community
        .dib-ns.v-btm.ml2.dn
          img(src="./img/johanna-paredes_logo.svg" width="90" height="90" alt="Johanna Paredes Logo")
      
      nav.social-nav.tc.mt4
        .dib.mr3
          a(href="#contact").link.near-black.hover-green
            i.fa.fa-behance
        .dib.mr3
          a(href="#contact").link.near-black.hover-green
            i.fa.fa-linkedin-square
        .dib.mr3
          a(href="#contact").link.near-black.hover-green
            i.fa.fa-instagram

    main
      section#introduction.mv6
        img(src="./img/1/jp-11.jpg" width="" height="" alt="Johanna Paredes Image").w-100.h-100
        blockquote.measure-narrow.lh-copy.f3
          p Johanna Paredes, born and raised in Quito in the eighties…
      
      section.mt5
        //- img(src="./img/1/jp-2.jpg" width="" height="" alt="Johanna Paredes Image").w100
        h3.f3.lh-title.ttu.tracked
          | Design
          <span class="ampersand"> &amp; </span>
          | Branding
        blockquote.measure.lh-copy.f4
          p A life-long enthusiast of design and branding, Johanna loves to work closely with an organization to help them develop their unique identity as well as grow their community and following.
        
        section.measure.mt5.tr.mr2
          h4.f4.lh-copy.ttu.tracked.bb.bw1.b--dark-pink
            | Vision
            <span class="ampersand"> &amp; </span>
            | Community
          blockquote.lh-copy
            p I will work closely as your partner, develop identity and define message, grow and sustain community.
            p Vision, social media, community management.
            p I am always open to working with ecological initiatives!
        
        section.measure.mt5.tr.mr2
          h4.f4.lh-copy.ttu.tracked.bb.bw1.b--dark-pink
            | Branding
            <span class="ampersand"> &amp; </span>
            | Campaigns
          blockquote.lh-copy
            p As your in-house designer, I will… , as well as take care of community management… Produce creative graphics and content efficiently.
              p Branding, logos, packaging, corporate identity.
        
        section.measure.mt5.tr.mr2
          h4.f4.lh-copy.ttu.tracked.bb.bw1.b--dark-pink
            | Media
            <span class="ampersand"> &amp; </span>Print 
            | Design
          blockquote.lh-copy
            p You want to invest in their public relations, push for growth?
            p Strong professional skills in print design and print production, as well as package design.
        
        img(src="./img/1/jp-13.jpg" width="" height="" alt="Johanna Paredes Image").w-100.h-100.mt6
        section.measure
          h3.f3.lh-title.ttu.tracked
            | Events
            <span class="ampersand"> &amp; </span>
            | Management
          blockquote.lh-copy.f4
            p Johanna has extensive experience in management, marketing, as well as the tourism and music industry.
            p Network in Quito, Guayaquil, and Manabí, as well as the Galapagos Islands
        
        section.measure.mt6
          h3.f3.lh-title.ttu.tracked
            | Travel
            <span class="ampersand"> &amp; </span>
            | Photography
          blockquote.lh-copy.f4
            p Johanna loves to travel, as well as taking photos of all the amazing vistas she encounters.
            p She mostly spends her time between Guayaquil, Ayampe, and Berlin.
      
      section.mt6
        h2.lh-title.ttu.tracked
          | Founder
          <span class="ampersand"> &amp; </span>
          | Organizer
        section.measure.mt5.tr.mr2.bb.bw1.b--green
          h3.f4.lh-title
            | Mimi tejidos
            br
            | Handmade Ecuadorian Fashion

        section.measure.mt5.tr.mr2.bb.bw1.b--green
          h3.f4.lh-title
            | El Colibrí
            br
            | Muestra creativa
      
      section.mv6.tc#contact
        h2.lh-title.ttu.tracked
          | Contact
        p Get in touch!
        ul.list.tc.pa0
          li: p Email
          li: p Phone / WhatsApp / Telegram
          li: p Skype
        nav.social-nav
          .dib.mr1
            a(href="#contact")
              | Behance
          .dib.mr1
            a(href="#contact")
              | LinkedIn
          .dib.mr1
            a(href="#contact")
              | Instagram
    img(src="./img/1/jp-8.jpg" width="" height="" alt="Johanna Paredes Image").w100
    footer.tc.pa5
      | © 2017 Johanna Paredes