doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content="Johanna Paredes — Design • Branding • Community | Johanna has worked for ten years in graphic design and print production both as a freelancer and an in-house designer. She's a natural people person and an experienced manager who excels at building and maintaining an online community using visual content.")
    
    meta(name='author', content= "Jascha Silbermann and Johanna Paredes")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    meta(property="og:title" content="Johanna Paredes — Design • Branding • Community")
    meta(property="og:type" content="website")
    meta(property="og:image" content="https://johannaparedes.com/img/johannaparedes_design-branding-community_logo-facebook.png")
    meta(property="og:url" content="https://johannaparedes.com/")

    title Johanna Paredes — Design • Branding • Community
    
    != css()
    
    //- Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-64009516-6")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());

      | gtag('config', 'UA-64009516-6');

  body
    block content

    != js()
