extends layout

block content

  .ma4
    .br-pill.br--right.b--dark-gray.dib.ba.pa4.bg-pink.mid-gray
      | Johanna Paredes

  


  .mt6.ma5-ns.metropolis.debug-grid
    header
      #logo.w
        .cf.tc
          .dib.v-btm
            h1.f3.ma0.tr
              | Johanna
              |Paredes
            h2.f7.ma0.mt2.tr
              | Design • Branding • Community
          .dib.v-btm.pl2
            img(src="./img/johanna-paredes_logo.svg" width="100" height="100" alt="Johanna Paredes Logo")
        


  .ma6-l.pa4
    a(href="#go").link.b.f6.dib.ph3.pv1.ba.br-pill.br--right.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma6-l.pa4.pa5.debug-grid
    a(href="#go").link.b.f6.dtc.pa3.pv1.tc.v-mid.h3.ba.br-100.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma5.debug-grid
    section.w-third-l.tr.tl-l
      h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pl2.pb1.pl4-l
        | Media
        <span class="ampersand"> &amp; </span>Print 
        | Design
      blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pl2.pl4-l
        p You want to invest in their public relations, push for growth?
        p Strong professional skills in print design and print production, as well as package design.
          p.db.b.f6
            | Pacha Chocolates
            br
            | Artisanal Chocolate
          .cf
            
            a(href="#go").link.dib
              .fa-stack.fa-lg.dark-pink
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-behance.fa-stack-1x.fa-inverse
              .dib.b.f6.dark-pink.pl0
                | View Project

  .pa5.debug-grid
    .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr
      | Pacha Chocolates
      br
      | Artisanal Chocolate
      br
      span.normal On Behance
    .dib.lh-solid.v-mid
      a(href="#go").link
        .fa-stack.fa-lg.dark-pink
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project
    .dib.ph4
    .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr
      | El Colibrí
      br
      | Independent Art Fair
    .dib.lh-solid.v-mid
      a(href="#go").link
        .fa-stack.fa-lg.dark-pink
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project



  .ma6-l.pa4
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-behance.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-linkedin.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-instagram.fa-stack-1x.fa-inverse

  .ma6-l.pa4
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-linkedin.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | Connect
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | Follow

  hr

  .bg-near-white
    .cf
      .fr.w-100.w-50-l
          img(src="./img/rio.jpg" width="" height="" alt="Johanna Paredes Image").w-100
      .fr.w-100.w-50-l
        section.mt4.mt5-ns
          h3.f3.f2-l.lh-title.ttu.tracked.ph2.ph4-l
            | Design
            <span class="ampersand"> &amp; </span>
            | Branding
          blockquote.f4.f3-l.lh-copy.measure.ph2.ph4-l
            p A life-long enthusiast of design and branding, Johanna loves to work closely with an organization to help them develop their unique identity as well as grow their community and following.


  hr
  
  .bg-near-white
    .mw7.center
      .orbit(role="region" aria-label="El Colibrí" data-orbit data-auto-play="false" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;")
        .orbit-wrapper
          .orbit-controls
            button.orbit-previous
              span.show-for-sr
                | Previous Slide
                | &#9664;&#xFE0E;
            button.orbit-next
              span.show-for-sr
                | Next Slide
                | &#9654;&#xFE0E;
          
          ul.orbit-container
            li.is-active.orbit-slide
              figure.orbit-figure
                img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-1.jpg" alt="El Colibrí")
                //- figcaption.orbit-caption
                  | Space, the final frontier.
            li.orbit-slide
              figure.orbit-figure
                img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-2.jpg" alt="El Colibrí")
                //- figcaption.orbit-caption
                  | Lets Rocket!
            li.orbit-slide
              figure.orbit-figure
                img.orbit-image(src="./img/johannaparedes_design-branding-community_el-colibri-3.jpg" alt="El Colibrí")
          
          nav.orbit-bullets
            button.is-active(data-slide="0" )
              span.show-for-sr
                | First slide details.
              span.show-for-sr
                | Current Slide
            button(data-slide="1")
              span.show-for-sr
                | Second slide details.
            button(data-slide="2")
              span.show-for-sr
                | Third slide details.


