extends layout

block content

  .ma4
    .br-pill.br--right.b--dark-gray.dib.ba.pa4.bg-pink.mid-gray
      | Johanna Paredes

  


  .mt6.ma5-ns.metropolis.debug-grid
    header
      #logo.w
        .cf.tc
          .dib.v-btm
            h1.f3.ma0.tr
              | Johanna
              |Paredes
            h2.f7.ma0.mt2.tr
              | Design • Branding • Community
          .dib.v-btm.pl2
            img(src="./img/johanna-paredes_logo.svg" width="100" height="100" alt="Johanna Paredes Logo")
        


  .ma6
    a(href="#go").link.b.f6.dib.ph3.pv1.ba.br-pill.br--right.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma6.pa5.debug-grid
    a(href="#go").link.b.f6.dtc.pa3.pv1.tc.v-mid.h3.ba.br-100.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma5
    section.w-third-l.tr.tl-l
      h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pl2.pb1.pl4-l
        | Media
        <span class="ampersand"> &amp; </span>Print 
        | Design
      blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pl2.pl4-l
        p You want to invest in their public relations, push for growth?
        p Strong professional skills in print design and print production, as well as package design.
          p.db.b.f6
            | Pacha Chocolates
            br
            | Artisanal Chocolate
          .cf
            a(href="#go").link.b.f6.dib.pl0.pr2.pv0.ba.br-pill.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
              .fa-stack.fa-lg.dark-pink
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-behance.fa-stack-1x.fa-inverse
              .dib.pl1.pr2
                | View Project


  .ma6
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-behance.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-linkedin.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-instagram.fa-stack-1x.fa-inverse