extends layout

block content

  .ma4
    .br-pill.br--right.b--dark-gray.dib.ba.pa4.bg-pink.mid-gray
      | Johanna Paredes

  


  .mt6.ma5-ns.metropolis.debug-grid
    header
      #logo.w
        .cf.tc
          .dib.v-btm
            h1.f3.ma0.tr
              | Johanna
              |Paredes
            h2.f7.ma0.mt2.tr
              | Design • Branding • Community
          .dib.v-btm.pl2
            img(src="./img/johanna-paredes_logo.svg" width="100" height="100" alt="Johanna Paredes Logo")
        


  .ma6-l.pa4
    a(href="#go").link.b.f6.dib.ph3.pv1.ba.br-pill.br--right.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma6-l.pa4.pa5.debug-grid
    a(href="#go").link.b.f6.dtc.pa3.pv1.tc.v-mid.h3.ba.br-100.bw1.dark-pink.b--dark-pink.hover-bg-dark-pink.hover-white
      | View Project

  .ma5.debug-grid
    section.w-third-l.tr.tl-l
      h4.f4.lh-title.ttu.tracked.bb.bw1.b--dark-pink.pl2.pb1.pl4-l
        | Media
        <span class="ampersand"> &amp; </span>Print 
        | Design
      blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.ml0-l.pl2.pl4-l
        p You want to invest in their public relations, push for growth?
        p Strong professional skills in print design and print production, as well as package design.
          p.db.b.f6
            | Pacha Chocolates
            br
            | Artisanal Chocolate
          .cf
            
            a(href="#go").link.dib
              .fa-stack.fa-lg.dark-pink
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-behance.fa-stack-1x.fa-inverse
              .dib.b.f6.dark-pink.pl0
                | View Project

  .pa5.debug-grid
    .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr
      | Pacha Chocolates
      br
      | Artisanal Chocolate
      br
      span.normal On Behance
    .dib.lh-solid.v-mid
      a(href="#go").link
        .fa-stack.fa-lg.dark-pink
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project
    .dib.ph4
    .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr
      | El Colibrí
      br
      | Independent Art Fair
    .dib.lh-solid.v-mid
      a(href="#go").link
        .fa-stack.fa-lg.dark-pink
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project



  .ma6-l.pa4
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-behance.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-linkedin.fa-stack-1x.fa-inverse
    .fa-stack.fa-lg.dark-pink.dim
      i.fa.fa-circle.fa-stack-2x
      i.fa.fa-instagram.fa-stack-1x.fa-inverse

  .ma6-l.pa4
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-behance.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | View Project
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-linkedin.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | Connect
    .db
      a(href="#go").link.dib.dim
        .fa-stack.fa-lg.dark-pink
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x.fa-inverse
        .dib.b.f6.dark-pink.pl0
          | Follow


  hr
  
  section.mt6
        .cf
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.pr0-l.pl6-l.pb2.bb.bw2.b--dark-pink
                h4.f4.lh-title.ttu.tracked.ma0
                  | Vision
                  <span class="ampersand"> &amp; </span>
                  | Community
                  //- .db.f5.f4-l.tr
                  //-   | Subtitle
              .pv4.relative.mr2.mr0-l
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr.f5.black
                    | El Colibrí
                    br
                    | Independent Art Fair
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tl.dark-pink.f5
                    | View project
                    br
                    | on Behance
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.pr2.pr1-l.pl4-l.tr
                p.mt0 I will work closely as your partner, develop identity and define message, grow and sustain community.
                p Vision, social media, community management.
                p I am always open to working with ecological initiatives!
          
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.pr0-l.pl6-l.pb2.bb.bw2.b--dark-pink
                h4.f4.lh-title.ttu.tracked.ma0
                  | Branding
                  <span class="ampersand"> &amp; </span>
                  | Campaigns
              .pv4.relative.mr2.mr0-l
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr.f5.black
                    | El Colibrí
                    br
                    | Independent Art Fair
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tl.dark-pink.f5
                    | View project
                    br
                    | on Behance
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.pr2.pr1-l.pl4-l.tr
                p.mt0 I will work closely as your partner, develop identity and define message, grow and sustain community.
                p Vision, social media, community management.
                p I am always open to working with ecological initiatives!
          .fl.w-100.w-third-l
            section.mt5.tr
              .ph2.pr0-l.pl6-l.pb2.bb.bw2.b--dark-pink
                h4.f4.lh-title.ttu.tracked.ma0
                  | Media
                  <span class="ampersand"> &amp; </span>Print&nbsp;Design
              .pv4.relative.mr2.mr0-l
                a(href="#go").link.dim.dib.tc
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tr.f5.black
                    | Pacha Chocolates
                    br
                    | Artisanal Chocolate
                  .dib.lh-solid.v-mid
                    .fa-stack.fa-lg.dark-pink
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-behance.fa-stack-1x.fa-inverse
                  .dib.b.f6.pa0.ma0.lh-copy.v-mid.tl.dark-pink.f5
                    | View project
                    br
                    | on Behance
              blockquote.f5.lh-copy.measure.measure-narrow-l.ml-auto.pr2.pr1-l.pl4-l.tr
                p.mt0 I will work closely as your partner, develop identity and define message, grow and sustain community.
                p Vision, social media, community management.
                p I am always open to working with ecological initiatives!