// Colors

$mid-gray = rgb(85, 85, 85)
$green = rgb(114, 195, 171)
$green-hsl = hsl(162, 40%, 61%)
$raspberry = rgb(180, 62, 151)
$raspberry-hsl = hsl(315, 49%, 47%)

.green
    color: $green
.b--green
    border-color: $green
.dark-pink
    color: $raspberry
.b--dark-pink
    border-color: $raspberry

// Borders

@-webkit-keyframes rainbow
    0%
        // border-color: hsl(0, 100%, 50%)
        border-color: hsl(40, 100%, 100%)
        border-color: $raspberry-hsl
    100%
        // border-color: $raspberry-hsl
        border-color: hsl(80, 100%, 100%)
        border-color: hsl(255, 100%, 50%)


.b--rainbow
  border-color: $raspberry-hsl
  -webkit-animation: rainbow 5s infinite alternate

.bb--dotted
    border-bottom-style: dotted;

.br--dotted
    border-right-style: dotted;

// Fonts

@font-face
    font-family: 'metropolismedium'
    src: url('./../fonts/metropolis/metropolis-medium-webfont.woff2') format('woff2'),
         url('./../fonts/metropolis/metropolis-medium-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'metropolisregular'
    src: url('./../fonts/metropolis/metropolis-regular-webfont.woff2') format('woff2'),
         url('./../fonts/metropolis/metropolis-regular-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

// Max Width
body
    max-width: 1500px
    margin-left: auto
    margin-right: auto

// Overrides

ul
    margin: 0
    padding: 0

.show-for-sr
    display: none