@import '_settings'

.metropolis
    font-family: metropolisregular

.ampersand {
    font-size: 0.8em;
    font-family: metropolismedium;
}

blockquote
    margin: 0

b, bold, .b {
    font-family: metropolisregular
    font-weight: bold
}

#content
    font-family: metropolisregular

h1, h2, h3, h4, h5, h6
    font-family: metropolisregular

header
    h1
        font-size: 33px
        font-family: metropolisregular
    h2
        font-size: 10px
        font-family: metropolismedium

section, header, footer
    // border: 1px solid grey
